body {
	background:	url(../img/yasar_icon2.png), url(../img/sub_bl.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat, repeat;
    background-size: auto, 15%;
}

.top {
    margin: 0;
    top: 50%;
    left: 50%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

.page-header{
	font-size: 50px;
}

#nav_img{
	width: 30px;
	height: 30px;
}

.navbar-nav{
    margin-left: auto;
    margin-right: auto;	
}

#mid{
    margin-left: auto;
    margin-right: auto;	
}

.nav-item {
	font-size: 25px;
}

.nav-item:hover, .dropdown-item:hover, #jumboBtn:hover{
	background: rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-menu  {
    display: block;
}

.stroke{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.dropdown-menu{
	 margin-top: 0px;
}

.btn {
  background-color: transparent;
}

.page-footer {
	left: 0;
	width: 100%;
	background-color: gray;
	color: white;
	text-align: center;
}

p.page-footer{
	background-color: rgb(80, 80, 80);
	position: relative;
}

.page1{
	
	height:400px;
	width: 1200px;
	display: flex;
}

.bg1{
	box-shadow: 0 25px 30px 6px rgba(0,0,0,0.4);
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

.bg2{
	box-shadow: 0 25px 30px 6px rgba(0,0,0,0.4);
	transform: translate(-100px,150px);
	border-radius: 10px;
	background: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

.bg2 p, .bg1 p{
	color: #fff;
}