body {
	/* Daha fazla pattern; http://www.patternpictures.com/topics/texture/ */
	background:	url(../img/yasar_icon2.png), url(../img/pat3.png);
	background-attachment: fixed,fixed;
    background-position: center;
    background-repeat:no-repeat, repeat ;
    background-size: auto, 20%;
	font-family: 'Roboto', sans-serif;
}

/* Navbar */
#socialUl{
	margin: 0 10%;
}

#mainNav{
	border-top: 5px solid black;
}

.navbar-nav:not(#socialUl) > .nav-item > a{
	text-transform: uppercase;
	font-size: 24px;
	color: #000;
	display: block;
    width: 100%;
	height: 100%;
}

.nav-item > a::after{
	content: "";
    display: block;
    background: url("../img/ayracOFF.png");  
	background-position: center;
	background-repeat:no-repeat;
    width: 100%;
	height: 100%;
}

.navbar-nav:not(#socialUl) > .nav-item > a:hover, .navbar-nav:not(#socialUl) > .nav-item.active > a, .dropdown-item:hover, #jumboBtn:hover{
	color: #0086b3;
}

.nav-item > a:hover::after, .nav-item.active > a::after{
	content: "";
    display: block;
    background: url("../img/ayracON.png");  
	background-position: center;
	background-repeat:no-repeat;
    width: 100%;
	height: 100%;
}

.dropdown:hover .dropdown-menu  {
    display: block;
}

.dropdown-menu{
	 margin-top: 0px;
}

#nav_img{
	width: 40px;
	height: 40px;
}

#nav_img:hover{
	width: 50px;
	height: 50px;
}

#mainNav{
	padding: 0 0 0 20%;
}
/* Navbar End */

.page-header{
	font-size: 50px;
}

.stroke{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.btn {
  background-color: transparent;
}

.page-footer {
	left: 0;
	width: 100%;
	background-color: gray;
	color: white;
	text-align: center;
}

p.page-footer{
	background-color: rgb(80, 80, 80);
	position: relative;
}

.page1{
	padding-top: 8%;
	height:400px;
	width: 1200px;
	display: flex;
}

.bg1{
	box-shadow: 0 25px 30px 6px rgba(0,0,0,0.4);
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

.bg2{
	box-shadow: 0 25px 30px 6px rgba(0,0,0,0.4);
	transform: translate(-100px,150px);
	border-radius: 10px;
	background: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}
.bg1 p{
	margin: 50px 100px 0 20px;
	color: #fff;
}
.bg2 p{
	margin: 50px 20px 0 100px;
	color: #fff;
}